/*/// Lobster ///*/
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/*/// Change Theme Color ///*/
[data-bs-theme="dark"] .btn-toggle::before {
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%28255,255,255,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
}

/*/// début Diviser Vertical ///*/
.b-example-divider {
    width: 100%;
    /*height: 3rem;*/
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    min-height: 100vh;
}
/*/// fin Diviser Vertical ///*/

/*/// début Custom CSS ///*/

body{
    --font-color:white;
    --font-hover:dodgerblue;
    --bg-color:black;
    --bg-hover:black;
    --border-color:white;
    --border-hover:white;
    --bg-img:url(https://source.unsplash.com/random/?gastronomy);
}

*{
    box-sizing: border-box;
}

h2,
.lobster{
    font-family: 'Lobster', cursive;
}

h2{
    color:var(--font-color) !important;
    background-color:hsla(0deg, 0%, 0%, .8);
    border-radius: 25px;
    margin-bottom: 2rem !important;
}

.full:last-child > h2{
    background-color:hsla(0deg, 0%, 0%, 0.25);
}

h4,
h6{
    font-family: serif;
}

h4{
    text-align: center;
    font-weight: bold;
}

h6{
    text-align: end;
}

a{
    color:var(--font-color);
    text-decoration: none;
}

.vertical-nav-bar{
    width: 3rem;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.nav-hover{
    color:var(--bg-color);
}

.nav-hover:hover{
    color:var(--font-hover);
    background-color: var(--bg-hover);
}

.wallpaper{
    background-color: black;
    background-image: var(--bg-img);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

.ancre{
    height:2rem;
}

.full:last-child{
    min-height: 100vh;
}

.card{
    background-color:hsla(0, 0%, 0%, .6);
    height: 100%;
}

.btn{
    font-weight: bold;
}

ul.nav > li{
    border-color: hsl(210, 14%, 89%);
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

ul.nav > li:last-child{
    margin-top: auto;
    border-bottom-width: 0;
    border-top-width: 1px;
    border-top-style: solid;
}

.hidden{
    visibility: hidden !important;
}

.none{
    display: none !important;
}

.darker:hover{
    color:var(--font-hover);
    background-color: var(--bg-hover);
    border-color: var(--border-hover);
}

/*/// fin Custom CSS ///*/
